target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
# Ignore IntelliJ Project files
.idea/
*.iws
*.iml
*.ipr

# Except for these specific files:
!.idea/misc.xml
!.idea/modules.xml
!.idea/runConfigurations/
!.idea/workspace.xml

# Ignore .idea/gitignore
.idea/.gitignore

# Ignore Smart Tomcat plugin files
.smarttomcat/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store